language: node_js

cache: npm

sudo: false

services:
  - postgresql

install:
  - npm install

before_script:
  - psql -c "CREATE DATABASE testdb;" -U postgres
  - psql -c "CREATE USER testuser WITH PASSWORD 'royya123';" -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE testdb TO testuser;" -U postgres

script: 'true'